$light: rgb(236, 236, 236);
$darkSolid: rgb(23, 53, 93);
$dark: linear-gradient(135deg, rgb(127, 146, 172), $darkSolid);
$border: rgb(95, 57, 13);
$width: 40vw;
$height: 40vw;
$sWidth: ($width / 8);
$sHeight: ($height / 8);
